*{
    box-sizing:border-box ;
}
body{
    font-family: 'lato',sans-serif;
    text-align: center;
    text-transform: uppercase;
}
nav{
    margin-bottom: 30px;
}
ul{
    margin: 0;
    padding-left: 0;
}
li{
    display: inline-block;
    border-radius: 15px;
    margin: 0 15px;
    padding: 0 15px;
    background-color: #6db69ba9;
}
a{
    font-size: 18px;
    text-decoration: none;
    color: #808080;
}
img{
    height: 200px;
    width: 200px;
    border: 1px solid #000;
    border-radius: 100px;
    margin-bottom: 33px;
}
h1{
    color:#000;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 32px;
    
}
h2{
   color: #000;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 18px;
    margin-bottom: 28px;
}
div{
    margin-bottom: 15px;
}
input{
    padding: 11px 17px;
}
textarea{
    padding: 11px 17px;
    height: 128px;
  
}
button{
    border-radius: 11px;
    background-color: rgb(58, 65, 65);
    width: 165px;
    height: 57px;
    border: none;
    margin-bottom: 33px;
    font-size: 19px;
    color: #a9a9a9;
    text-transform: uppercase;
}
.hedder{
    margin-top: 26px;
}
.content{
    background-color: #000;
    padding-top: 40px;
}
.forms{
    width: 400px;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #d0d1d1;
   
}
.footer{
    color: #808080;
    font-size: 18px;
    font-weight: 400;
    margin: 33px 0;
}
::placeholder{
    color: #fff;
    font-family: 'lato',sans-serif;

}
header{
}
section{
}
footer{

}